docker.enabled = true
//param to be overide from the terminal with --run_title <deserved name>
params.run_title = "undefined"
//google parameters
params.bucket_adress="gs://${params.bucket_name}"
//name of your dir in the bucket for nextflow mountig for all files (see also params.mount)
params.mount_bucket_dir="main"
params.project_dir = "${params.bucket_adress}/${params.mount_bucket_dir}"
// set workdir
workDir = "$params.project_dir/work"
// path to your local NGC file for downloading restricted SRA files
params.NGC_file = ""


params.help = false
profiles {

    SE {
        params.isPaired = false
    }

    PE {
        params.isPaired = true
    }

    stranded {
        params.isStranded = true
    }

    unstranded {
        params.isStranded = false
    }

    RL50 {
        params.read_length="50"
    }

    RL75 {
        params.read_length="75"
    }

    RL100 {
        params.read_length="100"
    }

    RL125 {
        params.read_length="125"
    }

    RL150 {
        params.read_length="150"
    }

    hg38 {
        params.organism="homo sapiens"
        params.assembly="hg38"
        // Sites
        params.cmpileup_sites_relative="Resources/Sites/HomoSapiens/hg38Sites_GabayEtAl_NatureCom_PMID35246538.AG.bed" // Gabay et al Sites
        params.genome_cmpileup_sites_index_name = "ucscHg38Genome.fa.hg38Sites_GabayEtAl_NatureCom_PMID35246538.AG.bed.GenomeIndex.jsd" // Gabay et al Sites index
        params.genome_cmpileup_sites_index_relative = "Resources/Sites/HomoSapiens/${params.genome_cmpileup_sites_index_name}"
        // Salmon
        params.transcripts_index_relative = "Salmon1.10.2/HomoSapiens/hg38"
        params.tx2id_geneMap_relative = "Resources/RefSeqAnnotations/HomoSapiens/ucscHg38RefSeqCurated.tsv"
        // General
        params.refseq_file_relative = "Resources/RefSeqAnnotations/HomoSapiens/ucscHg38RefSeqCurated.bed.gz"
        params.expression_file_relative = "Resources/GenesExpression/HomoSapiens/ucscHg38GTExGeneExpression.bed.gz"
        params.genome_file_relative = "Resources/Genomes/HomoSapiens/ucscHg38Genome.fa"
        params.snp_file_relative = "Resources/SNPs/HomoSapiens/ucscHg38CommonGenomicSNPs151.bed.gz"
        // Index
        params.regions_AEI_relative = "Resources/Regions/HomoSapiens/ucscHg38Alu.bed.gz"
        params.genome_regions_index_AEI_name = "ucscHg38Genome.fa.ucscHg38Alu.bed.gz.GenomeIndex.jsd"
        params.genome_regions_index_AEI_relative = "Resources/Regions/HomoSapiens/${params.genome_regions_index_AEI_name}"
        params.regions_3UTR_relative = "Resources/Regions/HomoSapiens/hg38.Alu3pUTR_minLen200_17022021.InvertedRepeatsIn3pUTR.sorted.merged.bed.gz"
        params.genome_regions_index_3UTR_name = "ucscHg38Genome.fa.hg38.Alu3pUTR_minLen200_17022021.InvertedRepeatsIn3pUTR.sorted.merged.bed.gz.GenomeIndex.jsd"
        params.genome_regions_index_3UTR_relative = "Resources/Regions/HomoSapiens/${params.genome_regions_index_3UTR_name}" 
        // STAR
        params.genome_relative_path="STAR2.7.10b/HomoSapiens/hg38/sjdbOverhang${params.read_length}"

    }

    mm10 {
        params.organism="mus musculus"
        params.assembly="mm10"
        // Sites
        params.cmpileup_sites_relative= "Resources/Sites/MusMusculus/mm10Sites_PintoEtAl_GenomeBiol_PMID24393560.bed"
        params.genome_cmpileup_sites_index_name = "mm10Sites_PintoEtAl_GenomeBiol_PMID24393560.bed.GenomeIndex.jsd" 
        params.genome_cmpileup_sites_index_relative = "Resources/Sites/MusMusculus/${params.genome_cmpileup_sites_index_name}"
        // Salmon
        params.transcripts_index_relative = "Salmon1.10.2/MusMusculus/mm10"
        params.tx2id_geneMap_relative = "Resources/RefSeqAnnotations/MusMusculus/ucscMM10RefSeqCurated.tsv"
        // General
        params.refseq_file_relative = "Resources/RefSeqAnnotations/MusMusculus/ucscMM10RefSeqCurated.bed.gz"
        params.expression_file_relative = "Resources/GenesExpression/MusMusculus/ucscMM10GTExGeneExpression.bed.gz"
        params.genome_file_relative = "Resources/Genomes/MusMusculus/ucscMm10Genome.fa"
        params.snp_file_relative = "Resources/SNPs/MusMusculus/ucscMM10CommonGenomicSNPs142.bed.gz"
        // Index
        params.regions_AEI_relative = "Resources/Regions/MusMusculus/ucscMM10SINE_B1_B2.bed.gz"
        params.genome_regions_index_AEI_name = "ucscMm10Genome.fa.ucscMM10SINE_B1_B2.bed.gz.GenomeIndex.jsd"
        params.genome_regions_index_AEI_relative = "Resources/Regions/MusMusculus/${params.genome_regions_index_AEI_name}"
        params.regions_3UTR_relative = "Resources/Regions/MusMusculus/mm10.AluB1AndB2_3pUTR_minLen100_17022021.InvertedRepeatsIn3pUTR.sorted.merged.bed.gz"
        params.genome_regions_index_3UTR_name = "ucscMm10Genome.fa.mm10.AluB1AndB2_3pUTR_minLen100_17022021.InvertedRepeatsIn3pUTR.sorted.merged.bed.gz.GenomeIndex.jsd"
        params.genome_regions_index_3UTR_relative = "Resources/Regions/MusMusculus/${params.genome_regions_index_3UTR_name}" 
        // STAR
        params.genome_relative_path="STAR2.7.10b/MusMusculus/mm10/sjdbOverhang${params.read_length}"
    }
    
}

// Results
params.EI_results_path_relative = "Results/${params.assembly}/ReadLength${params.read_length}/EI_results/${params.run_title}"
params.fastp_jsons_relative = "Results/${params.assembly}/ReadLength${params.read_length}/Fastp_json/${params.run_title}"
params.star_stats_relative = "Results/${params.assembly}/ReadLength${params.read_length}/STAR_stats/${params.run_title}"
params.genes_expressions_relative = "Results/${params.assembly}/ReadLength${params.read_length}/Salmon/${params.run_title}"
params.cmpileups_tables_relative = "Results/${params.assembly}/ReadLength${params.read_length}/cmpileups/${params.run_title}"
// set CMPileup configuration according to stranded or unstranded
params.cmpileup_ini_relative= params.isStranded ? "Resources/Sites/CMPileup.stranded.ini" : "Resources/Sites/CMPileup.ini" 

// Paths
// for accessing the bucket directly from the machine in google batch, we can use the automatic bucket mounting
// (mount_bucket_dir was set above "main")
params.mount_path = "/mnt/disks/${params.bucket_name}/${params.mount_bucket_dir}"
// Salmon index resource
params.transcripts_index = "${params.mount_path}/${params.transcripts_index_relative}"
// Salmon transcript to gene resource
params.tx2id_geneMap = "${params.mount_path}/${params.tx2id_geneMap_relative}"
// STAR genome index resource
params.genome_index_full = "${params.mount_path}/${params.genome_relative_path}"
// RefSeq genes resource
params.refseq_file = "${params.mount_path}/${params.refseq_file_relative}"
// Expression for RNA editing index resource
params.expression_file = "${params.mount_path}/${params.expression_file_relative}"
// Genome resource
params.genome_file = "${params.mount_path}/${params.genome_file_relative}"
// SNPs resource
params.snp_file = "${params.mount_path}/${params.snp_file_relative}"
// Alu regions resource
params.regions_AEI = "${params.mount_path}/${params.regions_AEI_relative}"
// Inverted Alu in 3'UTR resource
params.regions_3UTR = "${params.mount_path}/${params.regions_3UTR_relative}"
// Alu regions index resource
params.genome_regions_index_AEI = "${params.mount_path}/${params.genome_regions_index_AEI_relative}"
// Inverted Alu in 3'UTR index resource
params.genome_regions_index_3UTR = "${params.mount_path}/${params.genome_regions_index_3UTR_relative}"
// CMPileup configuration
params.cmpileup_ini="${params.mount_path}/${params.cmpileup_ini_relative}"
// CMPileup site resource
params.cmpileup_sites="${params.mount_path}/${params.cmpileup_sites_relative}"
// CMPileup site index resource
params.genome_cmpileup_sites_index = "${params.mount_path}/${params.genome_cmpileup_sites_index_relative}"
// RNA editing index results
params.EI_results_path = "${params.mount_path}/${params.EI_results_path_relative}"
// Fastp statistics result
params.fastp_jsons = "${params.mount_path}/${params.fastp_jsons_relative}"
// STAR statistics result
params.star_stats = "${params.mount_path}/${params.star_stats_relative}"
// CMPileup results
params.cmpileups_tables = "${params.mount_path}/${params.cmpileups_tables_relative}"
// Salmon results
params.genes_expressions="${params.mount_path}/${params.genes_expressions_relative}"
// Logs
params.logs_path ="${params.mount_path}/Logs/${params.run_title}"


google {
    project = "${params.project_name}"
    location = "${params.region}"
    //batch.bootDiskSize = '50.GB'
    batch.spot = true
    storage.maxAttempts = 30
    storage.maxDelay = '120s'
}
executor.queueSize = 800

process {
    executor = 'google-batch'

    withLabel: error_prone {
        errorStrategy = { task.attempt <=3 ? 'retry' : 'ignore' }
        maxRetries = 3
        maxErrors = 1000
    } 
    withLabel: stable {
        // if mechine was preempted - error 14 - retry
        // if process was failed due to bucket writing exhausted - error 429 - retry
        // else, retry up to another 2 times
        errorStrategy = { (task.exitStatus in [14, 429] || task.attempt <=2 ) ? 'retry' : 'ignore' }
        maxRetries = 2
        maxErrors = 1000
    }
    withName:create_dirs { 
        container = 'bashell/alpine-bash'
    }
    withName:download {
        container = 'levanonlab/sratoolkit:3.2.1'
    }
    withName:preprocess {
        container = 'levanonlab/fastp:0.23.4--hadf994f_2'
    }
    withName:exp_quant {
        container = 'levanonlab/salmon:1.10.2--hecfa306_0'
    }
    withName:alignment {
        container = 'levanonlab/star:2.7.10b--h9ee0642_0'
    }
    withName:aluAnd3UTR_Eindex {
        container = 'levanonlab/rna-editing-index-lite:1.0'
    }
    withName:cmpileup {
        container = 'levanonlab/cmpileup:1.0'
    }
}

